<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="oracle_connection" value="user id=admin;password=admin;data source=//localhost:1521/SpatialDB" />
    <add key="sql_connection" value="Data Source=localhost;Initial Catalog=SpatialDB;Integrated Security=SSPI;Persist Security Info=False;" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>